[package]
name = "kdtree"
version = "0.0.1"
authors = ["mrhooray <code@mrhooray.com>"]
description = "K-dimensional tree for Rust(bucket point-region implementation)"
keywords = ["tree", "nearest", "dimension", "search", "geo"]
repository = "https://github.com/mrhooray/kdtree-rs"
license = "MIT"
